* {
    background-color: #003366;
    color: white;
    width: 500px;
}

h1 {
    text-align: center;
}

.color-div {
   text-align: center;
   margin: 5px;
   
}

label {
    font-size: 1rem;
}

input {
    width: 100px;
}

.div-color-button {
    display: flex;
    justify-content: center;
}
.color-button {
    width: 20%;
    border: 1px solid white;
    border-radius: 5px;
    height: 30px;
    margin-top: 20px;
    cursor: pointer;
}

.color-button:hover {
    background-color: white;
    color:#003366;
}